* {
    margin: 0;
}

.app{
    margin: 0;
}

#root{
    margin: 0;
}

.sidebar {
    height: 45px;
    width: 100%;
    background-color: #111827;
    color: #eef0f4;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    overflow: hidden; /* Yükseklik taşmalarını önlemek için içeriği gizle */
}

.list-item-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.span-item-inside{
    display: none;
    margin-left: 10px; /* İstenilen boşluk değeri */
    color:#111827
}
.list-item-inside span {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;}

    




.sidebar:hover .span-item-inside {
    display: block;
    color: #eef0f4;
}


.sidebar:hover  {
    height: 65px;
    transition: 0.5s ease-out;
}



.sidebar-top, 
.sidebar-center,
.sidebar-bottom
 {
    width: 5%;
    padding: 4px;
    display: flex;
    align-items: center;
    border-right: 1px solid #4b4b4b;

}

.sidebar-top {
    margin-bottom: 40px;
    margin-top: 10px
}

.sidebar-bottom {
    border: none;
    justify-content: center;
}

.pedro {
    display: flex;
    white-space: nowrap;

    
}

.pedro1{
    margin-left: 15px;
}

.logo {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 10px;
}

.brand {
    font-weight: bold;
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
    height: 100%;
}

.list-item {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 50px;
    border-radius: 10px;
}

.list-item-icon {
    width: 30px;
    font-size: 20px;
}


.night {
    background-color: #111827;
}

 